<div class="card">
    <div class="card-body">


        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">

            {{fileDetails?.name || "No file uploaded yet."}}

            <button class="btn btn-light" (click)="fileUpload.click()">
                <i class="bi bi-cloud-arrow-up d-inline ml-2"></i>

                KRA PIN Document
            </button>
        </div>
        <div *ngIf="fileDetails">
            <span class="badge bg-light text-dark d-inline mr-2">Name: {{fileDetails.name}}</span>
            <span class="badge bg-light text-dark d-inline mr-2">Size: {{fileDetails.size | fileSize}}</span>
            <span class="badge bg-light text-dark  d-inline mr-2">Type: {{fileDetails.type}}</span>
            <span class="badge bg-light text-dark  d-inline mr-2">Last Modified: {{fileDetails.lastModified |
                date:"medium"}}</span>
        </div>
        <app-progress-spinner *ngIf="isLoading"></app-progress-spinner>


    </div>
</div>